body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    background-image: url("garden.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    padding-top: 20px;
}

canvas {
    border: 3px solid #333;
    background: #c5e3a8;
}
